.abstract {
  margin: 0;
  font-weight: 500;
}
.worldwide-chronic-kidney {
  margin: 0;
}
.abstract-worldwide-chronic-container {
  position: absolute;
  top: 321px;
  left: 99px;
  text-align: justify;
  display: inline-block;
  width: 1092px;
  height: 1907px;
}
.literature-review-child {
  position: absolute;
  top: 400.5px;
  left: 98.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1505px;
  height: 1px;
}
.prediction-of-chronic {
  position: absolute;
  top: 212px;
  left: 129px;
  font-size: 39px;
  letter-spacing: 0.04em;
  display: inline-block;
  font-family: var(--font-inika);
  text-align: justify;
  width: 1009px;
  height: 176px;
}
.summary1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 1424px;
  height: 476px;
}
.deviconlinkedin1 {
  position: absolute;
  top: 401px;
  left: 238px;
  width: 28.7px;
  height: 30.5px;
  overflow: hidden;
}
.icomoon-freegithub-icon1,
.uilfacebook-icon1 {
  position: absolute;
  top: 398px;
  left: 200px;
  width: 34.5px;
  height: 36.6px;
  overflow: hidden;
}
.icomoon-freegithub-icon1 {
  top: 402px;
  left: 276px;
  width: 27.9px;
  height: 29.6px;
}
.footer-child2 {
  position: absolute;
  top: 18.3px;
  left: 557.6px;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-25xl);
  background-color: var(--color-linen-300);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 687.4px;
  height: 435.9px;
}
.name1 {
  position: absolute;
  top: 132px;
  left: 631px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  width: 135.5px;
  height: 21.8px;
}
.footer-child3,
.footer-child4 {
  position: absolute;
  top: 164px;
  left: 955px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 220.1px;
  height: 44.5px;
}
.footer-child4 {
  top: 167px;
  left: 624px;
  width: 257.9px;
  height: 41px;
}
.email1 {
  position: absolute;
  top: 132px;
  left: 961px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  width: 135.5px;
  height: 21.8px;
}
.footer-child5 {
  position: absolute;
  top: 271px;
  left: 618px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 565px;
  height: 120.3px;
}
.get-in-touch1,
.message1,
.send-us-a1 {
  position: absolute;
  top: 241px;
  left: 631px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  width: 135.5px;
  height: 21.8px;
}
.get-in-touch1,
.send-us-a1 {
  top: 79px;
  left: 663px;
  font-size: var(--title-h4-size);
  font-weight: 500;
  width: 512px;
  height: 51px;
}
.get-in-touch1 {
  top: 38px;
  left: 791px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  width: 272px;
  height: 34px;
}
.footer-child6 {
  position: absolute;
  top: 408px;
  left: 823px;
  border-radius: var(--br-mini);
  background-color: var(--color-palegoldenrod);
  width: 156.9px;
  height: 31.4px;
}
.send1 {
  position: absolute;
  top: 410px;
  left: 870px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  width: 91px;
  height: 29px;
}
.signs-of-kidney1 {
  margin-bottom: 0;
}
.signs-of-kidney-disease-causes1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.glomerular-filtration-rate-container1,
.signs-of-kidney-container1 {
  position: absolute;
  top: 109px;
  left: 228px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  width: 155.2px;
  height: 221.4px;
}
.glomerular-filtration-rate-container1 {
  left: 392px;
  color: var(--color-gray-100);
}
.follow-urologiq1,
.kidney-health-testing1 {
  position: absolute;
  top: 439px;
  left: 194px;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-dimgray-100);
  width: 224.2px;
  height: 34px;
}
.kidney-health-testing1 {
  top: 38px;
  left: 405px;
  font-size: var(--font-size-lgi);
  color: var(--color-darkkhaki);
  width: 186px;
  height: 82px;
}
.kidneys-and-your-container1,
.risk-factors1,
.understanding-kidney-health1 {
  position: absolute;
  top: 109px;
  left: 42px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  width: 155.2px;
  height: 221.4px;
}
.risk-factors1,
.understanding-kidney-health1 {
  top: 37px;
  left: 235px;
  font-size: var(--font-size-lgi);
  color: var(--color-darkkhaki);
  width: 156.9px;
  height: 41.8px;
}
.understanding-kidney-health1 {
  left: 47px;
}
.footer1 {
  position: absolute;
  top: 1635px;
  left: 0;
  width: 1424px;
  height: 476px;
  font-size: var(--text-info-size);
}
.contact-info-item,
.literature-review-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-linen-100);
  width: 1318px;
  height: 67px;
}
.contact-info-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.call-our-support1 {
  margin: 0;
  white-space: pre-wrap;
}
.call-our-support-container3 {
  width: 100%;
}
.call-our-support-container2 {
  position: absolute;
  height: 127.5%;
  width: 98.37%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.contact-info1,
.home3 {
  position: absolute;
  top: 13px;
}
.contact-info1 {
  left: 1018px;
  width: 221px;
  height: 16px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.home3 {
  left: 57px;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  width: 76px;
  height: 29px;
}
.literature-review2 {
  left: 252px;
  text-decoration: underline;
}
.about-us3,
.introduction1,
.kidney-kitchen1,
.kidney-test1,
.literature-review2,
.research-analysis1 {
  position: absolute;
  top: 13px;
  font-weight: 500;
  display: inline-block;
  width: 139px;
  height: 29px;
}
.kidney-test1 {
  left: 410px;
  text-decoration: underline;
}
.about-us3,
.introduction1,
.kidney-kitchen1,
.research-analysis1 {
  left: 532px;
}
.about-us3,
.introduction1,
.kidney-kitchen1 {
  left: 708px;
  text-decoration: underline;
}
.about-us3,
.introduction1 {
  left: 847px;
}
.introduction1 {
  left: 133px;
  width: 119px;
}
.everything-you-need1 {
  margin: 0;
  font-size: var(--font-size-mini);
  color: var(--color-teal);
}
.urologiq-everything-you-container1 {
  position: absolute;
  top: -35px;
  left: -289px;
  display: none;
  width: 272px;
  height: 62px;
  font-size: var(--font-size-12xl);
}
.menu-bar2 {
  position: absolute;
  top: 34px;
  left: 264px;
  background-color: var(--color-linen-100);
  width: 1020px;
  height: 34px;
  font-size: var(--font-size-mini);
}
.urologiq-everything-you-container2 {
  position: absolute;
  top: 5px;
  left: 18px;
  display: inline-block;
  width: 272px;
  height: 62px;
  font-size: var(--font-size-12xl);
}
.fluentcall-24-filled-icon1 {
  position: absolute;
  top: 8px;
  left: 1007px;
  width: 16px;
  height: 18px;
  overflow: hidden;
}
.literature-review1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2108px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-h4-size);
  color: var(--color-black);
  font-family: var(--text-info);
}
